#text{
    width: 500px;
    height: 40px;
    margin-top:10px;
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: 7px;

}
.App{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    
}


button{
    height: 40px;
 
border: none;
background-color: rgb(103, 230, 103);
border-radius: 7px;
margin-left: 10px;
}


select{
    width: 200px;
    height: 30px;
margin-left: -370px;
margin-top: 20px;
}
ul ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    list-style: none;
}